{% load url from future %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.1.min.js">
        </script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

        <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/webclip-icon.png"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {% block head %} {% endblock %}
    </head>
    <body>

        <div class="container-fluid">
            <div class="offset6 span6 login-form"> 
                <div class="login-form-header">
                    Login
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                </div>

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>

                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </body>
</html>


