<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css" />
		<script src="js/jquery-1.8.1.min.js"></script>
		<script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<script src="js/jquery.dropotron-1.1.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/5grid/core.css" />
			<link rel="stylesheet" href="css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
	</head>
	<body class="right-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
			
				<!-- Header -->
					<div class="5grid-layout">
						<div class="row">
							<div class="12u">
								<header id="page-header">
									<h1><a href="index.html" class="mobileUI-site-name">Untitled</a></h1>
									<nav class="mobileUI-site-nav">
										<ul>
											<li><a href="index.html">Homepage</a></li>
											<li>
												<a href="">A Dropdown Menu</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
													<li>
														<span>Phasellus consequat</span>
														<ul>
															<li><a href="#">Lorem ipsum dolor</a></li>
															<li><a href="#">Phasellus consequat</a></li>
															<li><a href="#">Magna phasellus</a></li>
															<li><a href="#">Etiam dolore nisl</a></li>
															<li><a href="#">Veroeros feugiat</a></li>
														</ul>
													</li>
													<li><a href="#">Veroeros feugiat</a></li>
												</ul>
											</li>
											<li class="current_page_item"><a href="twocolumn1.html">Two Column 1</a></li>
											<li><a href="twocolumn2.html">Two Column 2</a></li>
											<li><a href="onecolumn.html">One Column</a></li>
										</ul>
									</nav>
									<br />
								</header>
							</div>
						</div>
					</div>
					
			</div>
				
		<!-- Main -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="8u mobileUI-main-content">

							<!-- Content -->
								<div id="content">
									<article class="first">
										<header>
											<h2>Magna feugiat sed fringilla</h2>
										</header>
										<span class="image align-left"><img src="images/pic1.jpg" alt="" /></span>
										<p>Proin dignissim massa in arcu tempus tempus. Vestibulum lacinia viverra orci. 
										Nullam in dolor vel nisl mollis mollis ut id neque. Fusce ultricies nulla euismod felis 
										laoreet non accumsan nibh tincidunt. Mauris et nibh metus, et tincidunt tortor. Donec 
										ullamcorper lacus sit amet eros commodo lacinia. Nunc tincidunt lobortis dui ut commodo. 
										Fusce vitae dui metus, quis consequat eros. Praesent non eros nulla. Phasellus pulvinar 
										congue odio at pulvinar. Nullam porttitor pretium tortor. Nulla tempor, lorem a adipiscing 
										condimentum, magna nibh consectetur eros, in tempor nisi arcu vel turpis magna lorem
										sed sodales eget leo metus vitae amet phasellus.</p>
										<p>Ut id diam sapien. Nam sollicitudin fringilla turpis, lacinia ultrices risus laoreet ut. 
										Etiam odio orci, aliquam ut commodo at, venenatis nec urna. Phasellus et urna ac orci 
										Curabitur sodales consequat sem at malesuada. Fusce eget leo metus, vitae suscipit ligula
										mattis fermentum. Cras iaculis tortor eu enim laoreet pellentesque. Suspendisse condimentum 
										mi sed orci lobortis in fringilla tortor consequat. Etiam ac nisi urna, sed suscipit eros. 
										Curabitur sodales consequat sem at malesuada. Fusce eget leo metus, vitae suscipit ligula
										lorem ipsum dolor sit amet veroeros consequat etiam phasellus.</p>
										<hr />
										<h3>Nullam ligula consequat?</h3>
										<p>Aliquam erat volutpat. Fusce sit amet neque diam. Sed et mauris quis ante auctor sollicitudin. 
										Donec lorem libero, egestas vitae sodales et, malesuada at lacus. Nunc lobortis ultricies 
										mauris, id pharetra lectus consectetur sit amet. Proin facilisis malesuada enim at commodo. 
										Vivamus vitae sapien risus. Maecenas id dui lectus amet phasellus tempus feugiat.</p>
										<ul class="style3">
											<li>Etiam ac nisi urna sed suscipit eros magna.</li>
											<li>Amet veroeros iaculus tortor enim laoreet pellentesque.</li>
											<li>Consequat sem etiam phasellus condimentum.</li>
										</ul>
									</article>
								</div>

						</div>
						<div class="4u">
							
							<!-- Sidebar -->
								<div id="sidebar">
									<section class="box-titled">
										<header>
											<h2>Magna Phasellus</h2>
										</header>
										<p>
											Donec quis quam diam, ut rutrum et amet risus. Proin mattis mollis 
											nisl, eget sed amet rutrum diam dolor estibulum maecenas.
										</p>
										<ul class="style1">
											<li><a href="#">Quam rutrum amet risus</a></li>
											<li><a href="#">Mattis mollis eget sed amet rutrum</a></li>
											<li><a href="#">Dolor estibulum maecenas lorem</a></li>
											<li><a href="#">Quam sed rutrum amet risus</a></li>
											<li><a href="#">Mollis nisl eget lorem sed rutrum</a></li>
										</ul>
									</section>
									<section class="box-titled">
										<header>
											<h2>Etiam sed feugiat</h2>
										</header>
										<img src="images/pic4.jpg" alt="" class="align-left" />
										<p>Proin dignissim massa in arcu feugiat etiam dolore. Vestibulum et lacinia viverra orci. 
										Nullam in dolor vel nisl mollis mollis ut id neque. Fusce ultricies nulla euismod felis 
										sed sodales eget leo metus vitae amet phasellus.</p>
										<a href="#" class="button">Learn more</a>
									</section>
								</div>

						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="page-footer" class="5grid-layout">

					<!-- Content -->
						<div class="row">
							<div class="4u">
								<section class="first">
									<h2>Aliquam Sed Magna</h2>
									<ul class="style1">
										<li><a href="#">Donec quis quam rutrum amet risus</a></li>
										<li><a href="#">Proin mattis mollis eget sed amet rutrum</a></li>
										<li><a href="#">Diam dolor estibulum maecenas lorem</a></li>
										<li><a href="#">Quis quam diam rutrum amet risus</a></li>
										<li><a href="#">Mattis sed mollis nisl eget sed rutrum</a></li>
									</ul>
								</section>
							</div>
							<div class="4u">
								<section>
									<h2>Mattis Rutrum Dolore</h2>
									<ul class="style1-dates">
										<li><span class="date">Sep 9</span> <a href="#">Donec quis quam sed risus</a></li>
										<li><span class="date">Sep 5</span> <a href="#">Proin mattis mollis amet rutrum</a></li>
										<li><span class="date">Sep 1</span> <a href="#">Diam dolor estibulum et lorem</a></li>
										<li><span class="date">Aug 30</span> <a href="#">Quis nisl quam sed amet risus</a></li>
										<li><span class="date">Aug 29</span> <a href="#">Mattis sed mollis et sed rutrum</a></li>
									</ul>
								</section>
							</div>
							<div class="4u">
								<section class="box-contact">
									<h2>Contact Us</h2>
									<a href="#" class="image"><img src="images/pic5.jpg" alt="" /></a>
									<ul class="style1">
										<li class="address">
											Untitled Business<br />
											123 Nowhere Rd<br />
											Nashville, TN 00000
										</li>
										<li class="email">
											<a href="#">info@untitled.tld</a>
										</li>
										<li class="phone">
											(800) 000-0000
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Row Divider -->
						<div class="row row-divider">
							<hr class="double" />
						</div>
						
					<!-- Copyright -->
						<div class="row">
							<div class="12u" id="copyright">
								&copy; 2012 Untitled. All rights reserved. Lorem ipsum dolor sit amet consequat.
							</div>
						</div>

				</footer>
			</div>

	</body>
</html>