/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 11pt;
	}

	p.emph
	{
		font-size: 1.1em;
	}

	h2
	{
		font-size: 2em;
	}
	
	h3
	{
		font-size: 1.5em;
	}

	ul.style2
	{
	}

		ul.style2 li
		{
			font-size: 1.2em;
			padding-left: 40px;
		}

		ul.style2 li:before
		{
			background-position: -56px -32px;
			height: 32px;
			width: 32px;
		}

/*********************************************************************************/
/* Boxes                                                                         */
/*********************************************************************************/

	.box-about
	{
	}
	
		.box-about img
		{
			width: 6em;
		}
		
		.box-about .emph
		{
			margin-left: 6.5em;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding-top: 2em;
	}

		#header-wrapper:after
		{
			margin-left: -500px;
			width: 1000px;
		}
		
/*********************************************************************************/
/* Features                                                                      */
/*********************************************************************************/

	#features
	{
	}
	
		#features .box-titled
		{
			min-height: 17em;
		}
