/***
 * Fonts
 */
    @font-face {
      font-family: 'ChunkFive';
      font-style: normal;
      font-weight: 200;
      src: url("../fonts/Chunkfive.otf");
    }
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-family: Georgia, serif;
		background: url('images/bg3.jpg');
		font-size: 12pt;
		color: #444648;
	}
      
	h2, h3, h4, h5, h6
	{
		font-family: 'ChunkFive', cursive;
		color: #2b2d2e;
	}

	h2
	{
		font-size: 2.5em;
		margin: 0 0 1em 0;
	}
	
	h3
	{
		font-size: 1.75em;
		margin: 0 0 1em 0;
	}

	strong
	{
		color: #2b2d2e;
		font-weight: bold;
	}

	a
	{
		color: #4289be;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}

	p, blockquote
	{
		line-height: 1.75em;
	}
	
	p
	{
		margin: 0 0 2em 0;
	}
	
	p.emph
	{
		font-size: 1.25em;
		font-style: italic;
	}

	hr
	{
		border: 0;
		border-top: solid 1px rgba(0,0,0,0.15);
		box-shadow:	inset 0px 1px 0px 0px rgba(255,255,255,0.75);
		margin: 0;
		height: 2px;
	}
	
		hr.double
		{
			height: 6px;
			border: 0;
			border-top: solid 1px rgba(0,0,0,0.15);
			box-shadow:	inset 0px 1px 0px 0px rgba(255,255,255,0.75),
						0px 1px 0px 0px rgba(255,255,255,0.75),
						inset 0px -1px 0px 0px rgba(0,0,0,0.15);
		}

	section > :last-child, article > :last-child
	{
		margin-bottom: 0;
	}
	
	article hr
	{
		margin: 2.5em 0 2.5em 0 !important;
	}

	.clear
	{
		clear: both;
	}

	.row-divider
	{
		overflow: hidden;
	}

		.row-divider hr
		{
			margin: 3em 0 3em 0;
		}

	.align-left
	{
		float: left;
		margin: 0 1.5em 1em 0;
	}
	
	.align-center
	{
		display: block !important;
		margin: 0 auto !important;
	}
	
	.image
	{
		display: inline-block;
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 2px 5px 0px rgba(0,0,0,0.15);
		border-radius: 5px;
		padding: 8px;
	}
		
		.image img
		{
			display: block;
			width: 100%;
		}
	
	.image-fit
	{
	}
	
		.image-fit img
		{
			width: 100%;
		}
	
	ul.style1, ul.style1-dates
	{
	}

		ul.style1 li, ul.style1-dates li
		{
			border-bottom: solid 1px rgba(0,0,0,0.15);
			border-top: solid 1px rgba(255,255,255,0.75);
			padding: 1em 0 1em 0;
		}

		ul.style1-dates li
		{
			padding: 0.375em 0 0.375em 0;
		}

		ul.style1 li:first-child, ul.style1-dates li:first-child
		{
			border-top: 0;
			padding-top: 0;
		}
		
		ul.style1 li:last-child, ul.style1-dates li:last-child
		{
			border-bottom: 0;
		}

		ul.style1-dates li .date
		{
			display: inline-block;
			background: url('images/bg2.jpg') bottom left;
			padding: 0.5em 0.5em 0.6em 0.5em;
			min-width: 3em;
			border-radius: 3px;
			color: #fff;
			font-style: italic;
			text-shadow: -1px -1px 0px rgba(0,0,0,0.25);
			text-align: center;
			box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.5);
			margin-right: 0.75em;
		}
	
	ul.style2
	{
		position: relative;
	}

		ul.style2 li
		{
			position: relative;
			font-size: 1.25em;
			font-style: italic;
			line-height: 1.25em;
			padding: 20px 0 15px 56px;
			border-top: solid 1px rgba(0,0,0,0.18);
		}

		ul.style2 li:first-child
		{
			border-top: 0;
		}

		ul.style2 li:before
		{
			position: absolute;
			display: block;
			left: 0;
			top: 10px;
			content: '';
			background: url('images/sprites.png');
			background-position: 0 -32px;
			height: 48px;
			width: 48px;
		}
	
	ul.style3
	{
		position: relative;
	}

		ul.style3 li
		{
			position: relative;
			line-height: 1.75em;
			padding: 10px 0 5px 40px;
		}

		ul.style3 li:first-child
		{
			border-top: 0;
		}

		ul.style3 li:before
		{
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			content: '';
			background: url('images/sprites.png');
			background-position: -56px -32px;
			height: 32px;
			width: 32px;
		}
	
	ol.style1
	{
		counter-reset: li;
		font-family: 'Oleo Script', cursive;
	}

		ol.style1 li
		{
			display: inline;
			margin-left: 1.5em;
			font-size: 1.5em;
		}
		
		ol.style1 li:first-child
		{
			margin-left: 0;
		}
	
		ol.style1 li:before
		{
			position: relative;
			top: 0.2em;
			font-size: 1.35em;
			font-family: 'Oleo Script', cursive;
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.6em;
			text-align: center;
			content: counter(li);
			counter-increment: li;
			margin-right: 0.3em;
			background: #fff;
			border-radius: 1em;
			box-shadow: inset 1px 1px 0px rgba(0,0,0,1);
			color: #4880a8;
		}
	
	.button
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 0.6em 2em 0.6em 1em;
		border-radius: 5px;
		background: url('images/bg5.jpg') center left repeat-x;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 0px 0px 2px rgba(255,255,255,0.25), 0px 2px 3px 0px rgba(0,0,0,0.3);
		font-size: 1.5em;
		text-shadow: -1px -1px 0px rgba(0,0,0,0.75);
		font-family: 'Oleo Script', cursive;
	}

		.button:hover
		{
			background-position: 0px -40px;
		}
	
		.button:active
		{
			background-position: 0px -100px;
		}
	
		.button:before, .button:after
		{
			content: '';
			position: absolute;
			border-top: solid 7px transparent;
			border-bottom: solid 7px transparent;
			border-left: solid 7px;
			top: 0.85em;
			right: 0.8em;
		}
		
		.button:after
		{
			border-left-color: rgba(0,0,0,0.65);
		}
		
		.button:before
		{
			top: 0.95em;
			border-left-color: rgba(255,255,255,0.35);
		}
	
	.button-big
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 0.55em 1.9em 0.55em 1em;
		border-radius: 5px;
		background: url('images/bg5.jpg') center left repeat-x;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 0px 0px 2px rgba(255,255,255,0.25), 0px 2px 3px 0px rgba(0,0,0,0.3);
		font-size: 2em;
		text-shadow: -1px -1px 0px rgba(0,0,0,0.75);
		font-family: 'Oleo Script', cursive;
	}

		.button-big:hover
		{
			background-position: 0px -40px;
		}
	
		.button-big:active
		{
			background-position: 0px -100px;
		}
	
		.button-big:before, .button-big:after
		{
			content: '';
			position: absolute;
			border-top: solid 10px transparent;
			border-bottom: solid 10px transparent;
			border-left: solid 10px;
			top: 0.75em;
			right: 0.8em;
		}
		
		.button-big:after
		{
			border-left-color: rgba(0,0,0,0.65);
		}
		
		.button-big:before
		{
			top: 0.8em;
			border-left-color: rgba(255,255,255,0.35);
		}
	
	.icon-90arrow
	{
		display: inline-block;
		width: 80px;
		height: 80px;
		background: url('images/sprites.png') 0px -80px;
	}

/*********************************************************************************/
/* Boxes                                                                         */
/*********************************************************************************/

	.box-plain
	{
		padding: 0 2em 0 2em;
	}
	
		.box-plain h2
		{
			font-size: 1.75em;
		}

	.box-titled
	{
		position: relative;
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2), inset 0px 0px 0px 2px rgba(255,255,255,1), inset 0px 0px 70px 0px rgba(0,0,0,0.15), 0px 2px 5px 0px rgba(0,0,0,0.15);
		padding: 4em 2em 2.5em 2em;
		border-radius: 5px;
	}
	
		.box-titled header
		{
			position: absolute;
			top: -21px;
			width: 70%;
			left: 15%;
			background: url('images/bg4.jpg') center left repeat-x;
			border-radius: 5px;
			text-shadow: -1px -1px 0px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 0px 0px 2px rgba(255,255,255,0.2), 0px 0px 5px 0px rgba(0,0,0,0.15);
			text-align: center;
			color: #fff;
			height: 50px;
			line-height: 50px;
		}

		.box-titled header:before, .box-titled header:after
		{
			display: block;
			content: '';
			width: 40px;
			height: 80px;
			background: url('images/sprites.png');
			position: absolute;
			top: -12px;
			z-index: 0;
		}
		
		.box-titled header:before
		{
			background-position: -115px -80px;
			left: -40px;
		}		
		
		.box-titled header:after
		{
			background-position: -165px -80px;
			right: -40px;
		}
			
			.box-titled header h2
			{
				font-size: 1.5em;
				color: #fff;
				margin: 0;
			}
		
		.box-titled h3
		{
			font-size: 1.75em;
			line-height: 1.25em;
			margin: 0 0 1em 0;
		}
		
		.box-titled hr
		{
			margin: 0.75em 0 0.75em 0;
		}
			
	.box-about
	{
	}
	
		.box-about img
		{
			float: left;
			width: 7.5em;
		}
		
		.box-about .emph
		{
			margin: 0 0 1em 7em;
		}
		
		.box-about .emph:after
		{
			content: '';
			display: block;
			clear: both;
		}
		
	.box-testimonial
	{
	}

		.box-testimonial .image
		{
			display: block;
			margin: 0 0 2em 0;
		}
		
		.box-testimonial blockquote
		{
			font-style: italic;
			margin: 0 0 1.5em 0;
		}
		
		.box-testimonial cite
		{
			font-size: 0.8em;
		}

	.box-cta
	{
		text-align: center;
		white-space: nowrap;
	}
	
		.box-cta .inner
		{
			background: #fff;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2), inset 0px 0px 0px 2px rgba(255,255,255,1), inset 0px -50px 70px 0px rgba(0,0,0,0.1), 0px 2px 5px 0px rgba(0,0,0,0.15);
			display: inline-block;
			padding: 2em 3em 2em 3em;
			border-radius: 5px;
		}
		
			.box-cta .inner p
			{
				float: left;
				margin: 0 1.5em 0 0;
				font-size: 1.25em;
				font-style: italic;
			}
			
	.box-contact
	{
	}

		.box-contact:after
		{
			content: '';
			display: block;
			clear: both;
		}
	
		.box-contact .image
		{
			float: left;
			width: 8.5em;
		}
	
		.box-contact ul
		{
			line-height: 1.5em;
			margin-left: 11em;
		}

			.box-contact ul li
			{
				position: relative;
				padding-left: 40px;
			}
			
			.box-contact ul li:before
			{
				content: '';
				position: absolute;
				left: 0;
				top: 0.75em;
				background: url('images/sprites.png');
				width: 32px;
				height: 32px;
			}
			
			.box-contact ul li:first-child:before
			{
				top: 0;
			}
			
				.box-contact li.address:before
				{
					background-position: 0px 0px;
				}
				
				.box-contact li.email:before
				{
					background-position: -32px 0px;
				}				
				
				.box-contact li.phone:before
				{
					background-position: -64px 0px;
				}
