<html>
    <head>
        <script type="text/css">
            .main_table {
                min-width: 320px;
            }
        </script>
    <body>
        <table width="320" class="main_table">
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Upload Date</th>
                <td>&nbsp;</td>
            </tr>
        {% for app in apps %}
        <tr>
            <td>{{ app.name }}</td>
            <td>{{ app.version }}</td>
            <td>{{ app.creation_date|date:"n/j  g:i A" }}</td>
            <td><a href="itms-services://?action=download-manifest&url=http://{{ host }}/apps/plist/{{ app.name }}/{{ app.version }}">▼</a>
        </tr>
        <tr colspan="4">
            <td>&nbsp</td>
        </tr>
        {% endfor %}
    </table>
    </body>
  </html>
