{% extends 'base_appstore.html' %}

{% block title %}RideCharge Enterprise App Store{% endblock %}

{% block textual_app_info %}<div class="span10">
                            {{ app.note }}
                            </div> <div class="span2 hidemobile" align="center" id="checkboxes"> 
                            <input type="checkbox" id="{{ app.id }}" class="external">external
                            <a href="http://localhost:8000/apps/dsym/{{ app.name }}/{{ app.version }}.dSYM.zip">dSYM</a><br>
                        </div>
{% endblock %}
