/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	hr
	{
		position: relative;
		width: 100%;
	}

	.image
	{
	}

		.image img
		{
			width: auto;
		}

	ul.style2
	{
		position: relative;
	}

		ul.style2 li
		{
			padding-left: 0;
			text-align: center;
			width: 100%;
		}

	.row-divider
	{
		width: 100%;
	}

	.button-cta
	{
		padding-right: 1em;
	}

/*********************************************************************************/
/* Boxes                                                                         */
/*********************************************************************************/

	.box-cta
	{
	}
	
		.box-cta .inner
		{
			display: inline;
		}

	.box-contact
	{
	}
	
		.box-contact ul
		{
		}

			.box-contact ul li
			{
				padding-left: 0;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#page-header
	{
		padding-bottom: 2em;
	}
	
/*********************************************************************************/
/* Dropotron                                                                     */
/*********************************************************************************/

	.dropotron-level-0
	{
		margin-top: 0;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}
	
		#banner h2
		{
			color: #fff;
		}
		
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#page-footer
	{
	}

		#page-footer a
		{
			color: #555;
		}
